tensorflow
tensorflow-gpu
scikit-learn
Theano
pypdf2
Babel
passlib
Werkzeug
decorator
python-dateutil
pyyaml
psycopg2
psutil
html2text
docutils
lxml
pillow
reportlab
ninja2
requests
gdata
XlsxWriter
vobject
python-openid
pyparsing
pydot
mock
mako
Jinja2
ebaysdk
feedparser
xlwt
psycogreen
suds-jurko
pytz
pyusb
greenlet
xlrd